In [1]:
! pip install awswrangler

Requirement already satisfied: awswrangler in /opt/conda/lib/python3.7/site-packages (2.2.0)
Requirement already satisfied: redshift-connector~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (2.0.872)
Requirement already satisfied: pyarrow~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (2.0.0)
Requirement already satisfied: botocore<2.0.0,>=1.15.49 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.19.36)
Requirement already satisfied: pandas<1.2.0,>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.1.5)
Requirement already satisfied: pymysql<0.11.0,>=0.9.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (0.10.1)
Requirement already satisfied: numpy<1.20.0,>=1.18.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.18.1)
Requirement already satisfied: boto3<2.0.0,>=1.12.49 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.16.36)
Requirement already satisfied: pg8000~=1.16.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.16.6)
Requirement already satisfied: pytz>=2020.1<2020.2 in /opt/conda/lib/python3.7/site-packages (from redshift-connector~=2.0.0->awswrangler) (2020.4)
Requirement already satisfied: requests>=2.23.0<2.24.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector~=2.0.0->awswrangler) (2.25.1)
Requirement already satisfied: scramp>=1.2.0<1.3.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector~=2.0.0->awswrangler) (1.2.0)
Requirement already satisfied: beautifulsoup4>=4.7.0<4.8.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector~=2.0.0->awswrangler) (4.8.2)
Requirement already satisfied: lxml>=4.2.5<4.6.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector~=2.0.0->awswrangler) (4.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from botocore<2.0.0,>=1.15.49->awswrangler) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4; python_version != "3.4" in /opt/conda/lib/python3.7/site-packages (from botocore<2.0.0,>=1.15.49->awswrangler) (1.25.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<2.0.0,>=1.15.49->awswrangler) (2.8.1)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0.0,>=1.12.49->awswrangler) (0.3.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.23.0<2.24.0->redshift-connector~=2.0.0->awswrangler) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.23.0<2.24.0->redshift-connector~=2.0.0->awswrangler) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.23.0<2.24.0->redshift-connector~=2.0.0->awswrangler) (2019.11.28)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/lib/python3.7/site-packages (from beautifulsoup4>=4.7.0<4.8.0->redshift-connector~=2.0.0->awswrangler) (1.9.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.15.49->awswrangler) (1.14.0)

In [2]:
import awswrangler as wr

df = wr.s3.read_parquet("s3://banking-fraud/parquet/records/", dataset=True)

In [3]:
from sklearn import model_selection

train, test = model_selection.train_test_split(df, test_size=0.2, random_state=42)

train.shape, test.shape

((5090096, 12), (1272524, 12))

In [4]:
output_prefix = "s3://banking-fraud/training"
wr.s3.to_csv(train, f"{output_prefix}/train.csv", index=False)
wr.s3.to_csv(test, f"{output_prefix}/test.csv", index=False)

{'paths': ['s3://banking-fraud/training/test.csv'], 'partitions_values': {}}

In [5]:
wr.s3.read_csv('s3://banking-fraud/training/test.csv')

,step,type,amount,nameorig,oldbalanceorg,newbalanceorig,namedest,oldbalancedest,newbalancedest,isfraud,isflaggedfraud,partition_0
0,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0,0,raw
1,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0,0,raw
2,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0,0,raw
3,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0,0,raw
4,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0,0,raw
...,...,...,...,...,...,...,...,...,...,...,...,...
1272519,186,PAYMENT,917.99,C409548237,9606.00,8688.01,M1829204703,0.00,0.00,0,0,raw
1272520,44,PAYMENT,480.58,C1374108622,4683.00,4202.42,M1285472891,0.00,0.00,0,0,raw
1272521,379,CASH_OUT,248511.67,C1966155172,507.00,0.00,C1465953419,23807.93,272319.61,0,0,raw
1272522,42,CASH_OUT,200008.65,C1490328004,0.00,0.00,C2003672404,589973.64,789982.29,0,0,raw
1272523,156,CASH_IN,48066.50,C1849687610,202207.00,250273.50,C1649143897,594770.06,546703.55,0,0,raw